.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-964PnKP3araW);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-8dssHUfWRhZF);
  font-family: var(--token-CxhN_ZIRU3Wr);
  font-size: var(--token-LVpNIyOyNyRy);
  line-height: var(--token-0KR9PzFSwzMK);
  outline-style: none;
  border-radius: var(--token-i_H-fJHsTbam);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-_zJe6T3yXZug);
  outline-offset: 1px;
  outline-color: var(--token-964PnKP3araW);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-6csQERlgLAS1);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-UGavQAKa5YS6);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-b7o-iqL0NP-o);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-GEMjy9cG15IY);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-QxqvJZJTBTs8);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-MB1HByOE77Ii);
  font-size: var(--token-ueuIKDfIq86J);
  column-gap: var(--token-_zJe6T3yXZug);
  row-gap: 0px;
  border-radius: var(--token-eH9kkdljLYen);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-ueuIKDfIq86J);
  line-height: var(--token-MB1HByOE77Ii);
  column-gap: var(--token-eH9kkdljLYen);
  row-gap: 0px;
  border-radius: var(--token-eH9kkdljLYen);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-WBMwa07CZuyR);
  line-height: var(--token-PEC37qMoAMDm);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-WBMwa07CZuyR);
  line-height: var(--token-PEC37qMoAMDm);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-qv4Ccz5VCwTR);
  border-radius: var(--token-i_H-fJHsTbam);
}
.softBackgroundcolor_neutral {
  background: var(--token-8MgEBYsmk5SI);
}
.softBackgroundcolor_muted {
  background: var(--token-6iU1mWWjlbmB);
}
.softBackgroundcolor_success {
  background: var(--token-cVynKXEbo18I);
}
.softBackgroundcolor_warning {
  background: var(--token-K679db8kB7-K);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-AlG0ofNKQ4MZ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-i_H-fJHsTbam);
  border: 0px solid var(--token-ckc8e8vl1nKS);
}
.bordercolor_neutral {
  border-color: var(--token-VR0eG5CC4pIF);
}
.bordercolor_muted {
  border-color: var(--token-9v432qV1ZfrR);
}
.bordercolor_success {
  border-color: var(--token-i_T6cqZxT1XJ);
}
.bordercolor_warning {
  border-color: var(--token-Fa8TI3ah6gpE);
}
.bordercolor_errorDestructive {
  border-color: var(--token-2h_DhYGJmwb_);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-i_H-fJHsTbam);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-KHBXGBGxtYZ8);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-KHAybk5NaKRL);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-t3IhxUXLMLho);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__fndDb {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-i_H-fJHsTbam) var(--token-Y8zb00EwO1CS);
}
.freeBox__fndDb > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-i_H-fJHsTbam));
  width: calc(100% + var(--token-i_H-fJHsTbam));
}
.freeBox__fndDb > :global(.__wab_flex-container) > *,
.freeBox__fndDb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fndDb > :global(.__wab_flex-container) > picture > img,
.freeBox__fndDb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-i_H-fJHsTbam);
}
.freeBoxsize_extraSmall__fndDbMzCUe {
  padding: var(--token-eH9kkdljLYen) var(--token-i_H-fJHsTbam);
}
.freeBoxsize_small__fndDbNcEbd {
  padding: var(--token-i_H-fJHsTbam) var(--token-8dssHUfWRhZF);
}
.freeBoxsize_large__fndDbLlXej {
  padding-top: var(--token-eH9kkdljLYen);
  padding-bottom: var(--token-eH9kkdljLYen);
}
.freeBoxsize_extraLarge__fndDbHjiJ {
  padding-left: var(--token-vrhqNf2xyleo);
  padding-right: var(--token-vrhqNf2xyleo);
}
.freeBoxroundedFull__fndDbGFmG7 {
  padding-right: var(--token-vrhqNf2xyleo);
  padding-left: var(--token-vrhqNf2xyleo);
}
.freeBox__ahAo {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__ahAoTx82O {
  display: flex;
}
.slotTargetStart {
  color: var(--token-X3ODpu8s6XZy);
}
.slotTargetStartcolor_neutral {
  color: var(--token-JxjXHmje9RHG);
}
.slotTargetStartcolor_muted {
  color: var(--token-PoDCN2cxRINC);
}
.slotTargetStartcolor_success {
  color: var(--token-I2FOpfUo2op8);
}
.slotTargetStartcolor_warning {
  color: var(--token-QogQ9kCSE0KY);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-wRkfn0ocqpW2);
}
.slotTargetStarttype_soft {
  color: var(--token-E6Y9k70mOfVA);
}
.slotTargetStarttype_bordered {
  color: var(--token-E6Y9k70mOfVA);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-ueuIKDfIq86J);
}
.slotTargetStartsize_small {
  font-size: var(--token-ueuIKDfIq86J);
}
.slotTargetStartsize_large {
  font-size: var(--token-WBMwa07CZuyR);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-WBMwa07CZuyR);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-KRWDiMS43Hdc);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-KRWDiMS43Hdc);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-9Nu6GG0-w87T);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-9Nu6GG0-w87T);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-4bKwnO8Etf5Q);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-4bKwnO8Etf5Q);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-lTxB9q-yvuPz);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-lTxB9q-yvuPz);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-GdlzzywTlYlc);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-GdlzzywTlYlc);
}
.svg__djgv {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-X3ODpu8s6XZy);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-JxjXHmje9RHG);
}
.slotTargetLabelcolor_muted {
  color: var(--token-PoDCN2cxRINC);
}
.slotTargetLabelcolor_success {
  color: var(--token-I2FOpfUo2op8);
}
.slotTargetLabelcolor_warning {
  color: var(--token-QogQ9kCSE0KY);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-wRkfn0ocqpW2);
}
.slotTargetLabeltype_soft {
  color: var(--token-E6Y9k70mOfVA);
}
.slotTargetLabeltype_bordered {
  color: var(--token-E6Y9k70mOfVA);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-KRWDiMS43Hdc);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-9Nu6GG0-w87T);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-KRWDiMS43Hdc);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-4bKwnO8Etf5Q);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-9Nu6GG0-w87T);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-lTxB9q-yvuPz);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-4bKwnO8Etf5Q);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-GdlzzywTlYlc);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-lTxB9q-yvuPz);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-GdlzzywTlYlc);
}
.text__fjfxN {
  white-space: pre;
}
.freeBox__mfGLa {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__mfGLaLkhL {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-X3ODpu8s6XZy);
}
.slotTargetEndcolor_neutral {
  color: var(--token-JxjXHmje9RHG);
}
.slotTargetEndcolor_muted {
  color: var(--token-PoDCN2cxRINC);
}
.slotTargetEndcolor_success {
  color: var(--token-I2FOpfUo2op8);
}
.slotTargetEndcolor_warning {
  color: var(--token-QogQ9kCSE0KY);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-wRkfn0ocqpW2);
}
.slotTargetEndtype_soft {
  color: var(--token-E6Y9k70mOfVA);
}
.slotTargetEndtype_bordered {
  color: var(--token-E6Y9k70mOfVA);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-ueuIKDfIq86J);
}
.slotTargetEndsize_small {
  font-size: var(--token-ueuIKDfIq86J);
}
.slotTargetEndsize_large {
  font-size: var(--token-WBMwa07CZuyR);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-WBMwa07CZuyR);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-KRWDiMS43Hdc);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-KRWDiMS43Hdc);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-9Nu6GG0-w87T);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-9Nu6GG0-w87T);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-4bKwnO8Etf5Q);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-4bKwnO8Etf5Q);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-lTxB9q-yvuPz);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-lTxB9q-yvuPz);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-GdlzzywTlYlc);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-GdlzzywTlYlc);
}
.svg__dnnTv {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
